@page "/BandCrudTest"
@rendermode InteractiveServer
@inject IBandService BandService

<h3>Band CRUD Test</h3>

@if (Bands == null)
{
	<p>Loading...</p>
}
else
{
	<h4>All Bands</h4>
	<ul>
		@foreach (var band in Bands)
		{
			<li>Id: @band.Id Name: @band.Name - (@band.Genre)</li>
			@if (band.Festivals != null && band.Festivals.Any())
			{
				<li>
					Festivals:
					<ul>
						@foreach (var festival in band.Festivals)
						{
							<li>@festival.Name</li>
						}
					</ul>
				</li>
			}
			else
			{
				<li>No festivals linked to this band.</li>
			}
		}
	</ul>
}

<h4>Add Band</h4>
<Label Text="Band Name" />
<TextEdit @bind-Text="NewBandName" Placeholder="Band Name" />
<Label Text="Genre" />
<Select @bind-SelectedValue="NewBandGenre">
	@foreach (var genre in Enum.GetValues<Genre>())
	{
		<SelectItem Value="@genre">@genre</SelectItem>
	}
</Select>
<Button Color="Color.Primary" @onclick="AddBand">Add</Button>

<h4>Update Band</h4>
<Label Text="Band ID" />
<input @bind="UpdateBandId" placeholder="Band ID" type="number" />
<Label Text="New Band Name" />
<TextEdit @bind-Text="UpdateBandName" Placeholder="New Band Name" />
<Label Text="Genre" />
<Select @bind-SelectedValue="UpdateBandGenre">
	@foreach (var genre in Enum.GetValues<Genre>())
	{
		<SelectItem Value="@genre">@genre</SelectItem>
	}
</Select>
<Button Color="Color.Primary" @onclick="UpdateBand">Update</Button>

<h4>Delete Band</h4>
<Label Text="Band ID" />
<input @bind="DeleteBandId" placeholder="Band ID" type="number" />
<Button Color="Color.Danger" @onclick="DeleteBand">Delete</Button>


